<section class="section-lg about pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">About us</h2>
      </div>
      <div class="col-lg-12 mb-100">
        <p>EFROM DIGITAL is registered business company in Republic of Seychelles with Executive and R&D office in EU.
          EFROM DIGITAL’s aim is to create the world’s best blockchain platform DAEFROM</p>
        <p>DAEFROM is developed to be a stable Proof of Work platform based on Ethereum and own features.
          Born in the crypto spring of 2022, DAEFROM is a new blockchain that contained premine small value of coins for support Research and development (R&D) department.</p>
        <p>Primary focus is improving the core features of the  ETH fork blockchain.</p>
      </div>

    </div>
  </div>

</section>
