<!-- pricing -->
<section class="section-lg pb-5 pricing" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Our Pricing</h2>
        <p class="mb-50">Get your DAEFROM token in presale </p>
        <h3>1<span>$</span></h3>
        <a href="#" class="btn pricing-btn px-2">Buy Now</a>

      </div>
      <div class="col-lg-10 mx-auto">
        <div class="row justify-content-center">
          <!-- pricing table -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="rounded text-center pricing-table table-1">
              <p>EFROM Token holders will have more opportunities and better access to selected and exclusive functions in our new social network.
              </p>

            </div>
          </div>
          <!-- pricing table -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="rounded text-center pricing-table table-2">

              <p>We are preparing staking pool for DAEFROM Token. You can have up to 30 % per year from locking the DAEFROM Token in the staking pool.
              </p>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /pricing -->
