<!-- roadmap -->
<section class="section-lg roadmap" id="roadmap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Roadmap</h2>

      </div>
    </div>
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="main-timeline">
            <div class="timeline">
              <a href="#" class="timeline-content">
                <div class="timeline-year">2021 4Q</div>
                <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                <h3 class="title">Born phase</h3>
                <p class="description">
                  Create fork from ethereum blockchain, build the backbone DAEFROM network with DAE mining coin and DAEFROM token, implementing core engine, create pools
                </p>
              </a>
            </div>
            <div class="timeline">
              <a href="#" class="timeline-content">
                <div class="timeline-year">2022 2Q</div>
                <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                <h3 class="title">Testing phase</h3>
                <p class="description">
                  Unit Testing, Integration Testing, System Testing, and Acceptance Testing.
                </p>
              </a>
            </div>
            <div class="timeline">
              <a href="#" class="timeline-content">
                <div class="timeline-year">2022 4Q</div>
                <div class="timeline-icon"><i class="fa fa-user"></i></div>
                <h3 class="title">Start of public mining and public business on markets</h3>
                <p class="description">
                  Create mining pools network. Start of public bussiness and listing  on one of top crypto market, start of pre sale DAEFROM token.
                </p>
              </a>
            </div>
            <div class="timeline">
              <a href="#" class="timeline-content">
                <div class="timeline-year">2023 2Q</div>
                <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                <h3 class="title">DAEFROM Token</h3>
                <p class="description">
                  Start rewarding mined coins with the DAEFROM token, the reward will be retroactive. Create staking pool for token, establishing on one of top crypto market.
                </p>
              </a>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- /roadmap -->
