<!-- marketing -->
<section class="section-lg seo">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="seo-image">
          <img class="img-fluid" src="images/marketing/born.png" alt="form-img">
        </div>
      </div>
      <div class="col-md-6 pt-5">
        <h2 class="section-title">We are LIVE, DAE is born!</h2>
        <p>Mainnet Blockchain, after successful testing for several weeks, is launched live. The main backbone consists of several servers, which will expand with the demands of the network.
        </p>
      </div>
    </div>
  </div>

</section>
<!-- /marketing -->
