<!-- service -->
<section class="section-lg service">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-6 order-2 order-md-1">
        <h2 class="section-title">Premined Coins</h2>
        <p class="mb-4">We have premined about 50M coins.
          DAE coins will be burned and used for : </p>
        <ul class="pl-0 service-list">
          <li><i class="ti-layout-tab-window text-purple"></i>Development and maintenance</li>
          <li><i class="ti-layout-placeholder text-purple"></i>Public relations marketing</li>
          <li><i class="ti-support text-purple"></i>Redemption of DAEFROM tokens.</li>
        </ul>
      </div>
      <div class="col-md-6 order-1 order-md-2">
        <img class="img-fluid layer-3" src="images/service/treasure.jpg" alt="service">
      </div>
    </div>
  </div>
</section>
<!-- /service -->
