<section class="section team" id="team">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Our Executive Team</h2>

      </div>
    </div>
    <div class="col-10 mx-auto">
      <div class="team-slider">
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid img-teams" src="images/team/def.png" alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>489ef818252d8f8409a72c5082708d0f</h4>
              <small>md5 hash of real name</small>
              <h6 class="text-color">Chief Executive Officer</h6>
            </div>
          </div>
          <p>The big boss of bosses</p>
        </div>
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid img-teams" src="images/team/def.png" alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>5e7e4c56890ac54fe49bc0169c211da4</h4>
              <small>md5 hash of real name</small>
              <h6 class="text-color">Chief Financial Officer</h6>
            </div>
          </div>
          <p>The boss of finance</p>
        </div>
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid img-teams" src="images/team/def.png" alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>1c23a0f6c3b9c99ed8097a433cf59fa4</h4>
              <small>md5 hash of real name</small>
              <h6 class="text-color">Chief Operating Officer & Chief Information Officer</h6>
            </div>
          </div>
          <p>The grand papa of project</p>
        </div>
        <!-- team-member -->

      </div>
    </div>
  </div>
</section>
